.Title {
    background-color: #153449;
}

.container {
    vertical-align: middle;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
}

.textPart {
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    font-size: 17px;
  }
  .articles {
      border:  3px solid lightslategray;
  }
  .news {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    border: 5px lightgray
  }
  
  .news img {vertical-align: middle;}
  
  .news .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 5px;
  }

  news.a.content:hover, news.a.content:active {font-size: 150%;}

input[type=submit] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
  }
input[type=submit]:hover {
    background-color: #269dd8;
}

input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    vertical-align: middle;
}

input[type=button]:hover {
    background-color: darkgreen;
}

input[type=text], select {
    width: 16%;
}

/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
} */

/* select tag reference:https://stackoverflow.com/questions/1895476/how-do-i-style-a-select-dropdown-with-only-css/13968900#13968900 */

.select-css {
	display: relative;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 500;
	color: white;
	line-height: 1.3;
	padding: .3em .3em .3em .3em;
	width: 7%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	/* background-color: #fff; */
	background-color: #4CAF50;
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

.select-sort {
	display: relative;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 600;
	color: black;
	line-height: 1.3;
	padding: .3em .3em .3em .3em;
	width: 5%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	/* background-color: #fff; */
	background-color: #56baed;
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.select-sort::-ms-expand {
	display: none;
}
.select-sort:hover {
	border-color: #888;
}
.select-sort:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: white;
	outline: none;
}
.select-sort option {
	font-weight:normal;
}

